body{
    background-color: #494D5F;
}
div{
   
}
#main-container{
    padding:0px;
    margin:0px;
    height:1000px;
    
}
p{
    font-family: arial;
    cursor: pointer;
    margin-top: 0px;
    margin-bottom: 0px;
    color:white;
    
}
#input-name{
    border:0px;
    width:100%;
    background-color: #494D5F;
    height: 30px;
    outline:none;
    margin-left:30px
}
#reasons{
     border:0px;
    width:100%;
    background-color: #494D5F;
    height: 30px;
    outline:none;
    margin-left: 30px;
}
#input-mood:hover{
    background-color: #494d5f24;
}
#div-for-topic{
    display: grid;
    place-items: center ;
}
#div-for-mood{ 
    display:block;
    place-items: center ;
    transition: background-Color 0.2s;
}
#div-for-inbox{
   
    margin-top: 0px;
    margin-bottom: 0px;
}
#div-for-or{
    display: grid;
    place-items:center;
    margin-top: 0px;
    transition: background-color 0.2s;
}
#div-for-or:hover{
    background-color: #22232a;
}
#div-for-emj{
    display: grid;
place-items: center;
transition: background-color 0.2s;
}
#div-for-emj:hover{
     background-color: #22232a;
}
button{
    cursor: pointer;
   margin-left:20px;
    border:none;
    border-radius: 50px;
    height: 30px;
    width:30px;
    margin-top:10px;
    margin-bottom:10px;
}
#space-for-emojis{
    display: grid;
    place-items: center;
    height: 350px;
}
#heading{
    font-weight: bold;
    color: #ffa8B6;
    font-size: 20px;
}
#div-for-mood:hover{
    background-color: #22232a;
}
#feel{
    margin-left: 30px;
}
#prev{
    margin-left: 30px;
}
#name{
    display:grid;
    place-items: center;
    margin-left: 30px;
}
#reason-submit{
 width:50px;
        border:none;
        font-size: 10px;
        height:20px;
        margin-top:0px;
        margin-left: 30px;
        font-family: arial;
}

#rreason{
    margin-left: 30px;
}
#sad-emoji{
    background-color: #494D5F;
font-size: 20px;
transition: font-size 0.2s;
}
#happy-emoji{
    background-color: #494D5F;
font-size: 20px;
transition: font-size 0.2s;
}
#amazed-emoji{
    background-color: #494D5F;
font-size: 20px;
transition: font-size 0.2s;
}
#angry-emoji{
    background-color: #494D5F;
font-size: 20px;
transition: font-size 0.2s;
}
#cool-emoji{
 background-color: #494D5F;
font-size: 20px;
transition: font-size 0.2s;
}

#sad-emoji:hover{
    font-size: 40px;
}
#happy-emoji:hover{
    font-size: 40px;
}
#amazed-emoji:hover{
    font-size: 40px;
}
#angry-emoji:hover{
    font-size: 40px;
}
#cool-emoji:hover{
    font-size: 40px;
}

